<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!--<meta http-equiv="refresh" content="10">-->
    <link rel="stylesheet" type="text/css" href="../static/Styles/admin-all.css" />
    <link rel="stylesheet" type="text/css" href="../static/Styles/base.css"/>
    <script type="text/javascript" src="../static/Scripts/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="../static/Scripts/jquery-ui-1.8.22.custom.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/Styles/ui-lightness/jquery-ui-1.8.22.custom.css" />
    <link rel="stylesheet" type="text/css" href="../static/Styles/formui.css"/>
    <script type="text/javascript" src="../static/Scripts/echarts.common.min.js"></script>

    <!--<script type="text/javascript" src="../static/Scripts/tb.js"></script> -->
    <style type="text/css">
    table.gridtable {
        width:100%;
    	font-family: verdana,arial,sans-serif;
    	color:#333333;
    	border-width: 1px;
    	border-color: #666666;
    	border-collapse: collapse;
    }
    table.gridtable th {
    	border-width: 1px;
    	padding: 8px;
    	border-style: solid;
    	border-color: #666666;
    	background-color: #99BBFF;
        font-size:12px;
        text-align:center;
    }
    table.gridtable td {
    	border-width: 1px;
    	padding: 8px;
    	border-style: solid;
    	border-color: #666666;
    	background-color: #ffffff;
        font-size:11px;
        text-align:left;
    }
    </style>

</head>
<body>
    <!-- <div class="alert alert-info" id="title">当前位置<b class="tip"></b>ORACLE监控<b class="tip"></b>{{tag}}</div> -->
   <!-- Table goes in the document BODY -->
    <div id="report" style="width:50%; float:left;">
    <table class="gridtable">
    <tr>
    	<th>用户名</th><th>总代</th><th>投注额</th><th>充值额</th><th>注册时间</th>
    </tr>
    {% for k in entries %}
        <tr>
            <td>{{k[0]}} </td>
            <td>{{k[1]}}</td>
            <td>{{k[2]}}</td>
            <td>{{k[3]}}</td>
            <td>{{k[4]}}</td>
        </tr>
    {% endfor %}
    </table>
    </div>
    <div id="chart" style="height:600px; width:50%; float:left;">
        <div id="laxin_user_bet" style="height:300px; width:100%;"></div>
        <div id="laxin_user_recharge" style="height:300px; width:100%;"></div>
    </div>
    <script type="text/javascript">
     function json_data(stat_name,type){
                        var data_graph;
                        $.ajax({
                            url: "/top10_user_json",
                            data:"stat_name='" + stat_name + "'&type='" + type + "'",
                            type: "GET",
                            async: false,
                            success: function (data) {
                               data_graph = data;
                            }
                        });
                        return data_graph;
                    }
    var s_data6 = eval(json_data('top10_laxin_user_bet','data'));
    var s_data7 = eval(json_data('top10_laxin_user_recharge','data'));
    var laxin_user_bet = echarts.init(document.getElementById('laxin_user_bet'));
    var laxin_user_recharge = echarts.init(document.getElementById('laxin_user_recharge'));
    //拉新活动用户投注额top10
     laxin_user_bet.setOption({
         title : {
        // text: '某站点用户访问来源',
        text:'投注额top10',
        // subtext: '纯属虚构',
        x:'center'
        },
         tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
        }
     });
     
    laxin_user_bet.setOption({
       legend : {
          orient : 'vertical',
          x : 'left',
          data :s_data6
          }, 
         series : [
       {
       name: '投注额',
       type: 'pie',
       radius : '55%',
       center: ['50%', '60%'],
       data:s_data6,
       itemStyle: {
           emphasis: {
               shadowBlur: 10,
               shadowOffsetX: 0,
               shadowColor: 'rgba(0, 0, 0, 0.5)'
               }
           }
       }
       ],
    });
    //拉新活动用户充值额top10
     laxin_user_recharge.setOption({
         title : {
        // text: '某站点用户访问来源',
        text:'充值额top10',
        // subtext: '纯属虚构',
        x:'center'
        },
         tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
        }
     });
     
    laxin_user_recharge.setOption({
       legend : {
          orient : 'vertical',
          x : 'left',
          data :s_data7
          }, 
         series : [
       {
       name: '充值额',
       type: 'pie',
       radius : '55%',
       center: ['50%', '60%'],
       data:s_data7,
       itemStyle: {
           emphasis: {
               shadowBlur: 10,
               shadowOffsetX: 0,
               shadowColor: 'rgba(0, 0, 0, 0.5)'
               }
           }
       }
       ],
    });
    </script>
<!-- <center>
    {% if page_flag == 'top_agent_tree' and page_no>1 and page_no < page_count%}
        <a href="/top_agent_tree?page_no=1">第一页</a>&nbsp;&nbsp;
        <a href="/top_agent_tree?page_no={{page_no-1}}">上一页</a>&nbsp;&nbsp;
        <span id ="page_display" style="display: inline">当前页{{page_no}} &nbsp;&nbsp;共计{{page_count}}页</span>&nbsp;&nbsp;
        <a href="/top_agent_tree?page_no={{page_no+1}}">下一页</a>&nbsp;&nbsp;
        <a href="/top_agent_tree?page_no={{page_count}}">最后一页</a>
    {% elif page_flag == 'top_agent_tree' and page_no == 1 and page_no < page_count%}
        <span id ="page_display" style="display: inline">当前页{{page_no}} &nbsp;&nbsp;共计{{page_count}}页</span>&nbsp;&nbsp;
        <a href="/top_agent_tree?page_no={{page_no+1}}">下一页</a>&nbsp;&nbsp;
        <a href="/top_agent_tree?page_no={{page_count}}">最后一页</a>
    {% elif page_flag == 'top_agent_tree' and page_no>1 and page_no == page_count%}
        <a href="/top_agent_tree?page_no=1">第一页</a>&nbsp;&nbsp;
        <a href="/top_agent_tree?page_no={{page_no-1}}">上一页</a>&nbsp;&nbsp;
        <span id ="page_display" style="display: inline">当前页{{page_no}} &nbsp;&nbsp;共计{{page_count}}页</span>
    {% elif page_flag == 'top_agent_tree' and page_no == 1 and page_no == page_count%}
        <span id ="page_display" style="display: inline">当前页{{page_no}} &nbsp;&nbsp;共计{{page_count}}页</span>
    
    {% elif page_flag == 'agent_tree' and page_no > 1 and page_no < page_count %}
        <a href="/agent_tree?page_no=1&user_name={{user_name}}">第一页</a>&nbsp;&nbsp;
        <a href="/agent_tree?page_no={{page_no-1}}&user_name={{user_name}}">上一页</a>&nbsp;&nbsp;
        <span id ="page_display" style="display: inline">当前页{{page_no}} &nbsp;&nbsp;共计{{page_count}}页</span>
        <a href="/agent_tree?page_no={{page_no+1}}&user_name={{user_name}}">下一页</a>&nbsp;&nbsp;
        <a href="/agent_tree?page_no={{page_count}}&user_name={{user_name}}">最后一页</a>
    {% elif page_flag == 'agent_tree' and page_no == 1 and page_no < page_count %}
        <span id ="page_display" style="display: inline">当前页{{page_no}} &nbsp;&nbsp;共计{{page_count}}页</span>
        <a href="/agent_tree?page_no={{page_no+1}}&user_name={{user_name}}">下一页</a>&nbsp;&nbsp;
        <a href="/agent_tree?page_no={{page_count}}&user_name={{user_name}}">最后一页</a>
    {% elif page_flag == 'agent_tree' and page_no > 1 and page_no == page_count %}
        <a href="/agent_tree?page_no=1&user_name={{user_name}}">第一页</a>&nbsp;&nbsp;
        <a href="/agent_tree?page_no={{page_no-1}}&user_name={{user_name}}">上一页</a>
        <span id ="page_display" style="display: inline">当前页{{page_no}} &nbsp;&nbsp;共计{{page_count}}页</span>
    {% elif page_flag == 'agent_tree' and page_no == 1 and page_no == page_count%}
        <span id ="page_display" style="display: inline">当前页{{page_no}} 共计{{page_count}}页</span>
    {% endif %}
</center> -->
</body>
</html>














